ul {
  display: flex;
  justify-content: right;
}

li {
  list-style: none;
  margin: 0 10px;
  font-size: 1.2rem;
}

 body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  position: relative;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

section {
    height: 100vh; /* Make each section take up the full viewport height */
    padding-top: 10rem; /* Adjust this value based on the height of your header */
    box-sizing: border-box; /* Ensure padding is included in the height */
    padding-bottom: 20rem;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: white; /* Ensure the header has a white background */
  justify-content: space-between;
  z-index: 2; /* Ensure the header is above the canvas */
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:0;
  border-bottom: solid 1px rgb(0, 0, 0);
}

header ul{
  margin-right: 20px;
}

.home {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 10rem;
  height: 14rem;
  width: 22rem;
  background-color: white;
  border-radius: 2;
  padding: 1rem;
}

.home > h1 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin: 0;
}

.home > h2 {
  color: rgb(0, 0, 0);
  margin: 0;
  display: flex;
  margin-top: 5px;
  margin-right: 2px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1; /* Ensure the header is above the canvas */
  position: relative;
  border: solid 1px rgb(0, 0, 0);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the canvas is behind other elements */
}

.socials {
  margin-top: .5rem;
  display: flex;
}

.socials img {
  width: 2.3rem; /* Adjust this value to make the icons smaller */
  height: 2.3rem; /* Adjust this value to make the icons smaller */
  margin-right: 10px;
  cursor: pointer;
}

#resume {
  padding: 8px;
  padding-top: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 500px;
  cursor: pointer;
  border: solid 1px rgb(0, 0, 0);
}
/********** GOL button **********/

.icon-button {
  width: 2.3rem; /* Adjust this value to make the icons smaller */
  height: 2.3rem; /* Adjust this value to make the icons smaller */
  margin-right: 10px;
  cursor: pointer;
  background: none;
  background-color: white;
  padding: 10px;
  border: none;
}

.icon-button img {
  width: 24px; /* Adjust the size of the icon */
  height: 24px;
}
/********** Project section **********/
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 3rem;
}

.project {
  position: relative;
  overflow: hidden;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 200px;
}

.project h2 {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
}

/* Container holding the sine wave and the content text */
.sine-text-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sine wave with horizontal looping animation */
.sine-wave {
  position: absolute;
  height:0%;
  bottom: 0;
  width: 30rem;
  height: 50px;
  fill: none;
  stroke: black;
  stroke-width: 2;
  transition: transform 0.5s ease-in-out;
  animation: moveWave 5s linear infinite;
}
a {
  text-decoration: none;
  color: black;
}

@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

/* Text content that is hidden initially */
.project-content {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  text-align: center;
  width: 100%;
}

/* Hover Effects */
.project:hover h2 {
  opacity: 0;
}

.project:hover .sine-text-container {
  transform: translateY(-120%);  /* Move the sine wave and content up */
}

.project:hover .project-content {
  transform: translateY(100%);  /* Move the sine wave and content up */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 10rem;
  }
  
  .projects h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  .project-container {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 1rem; /* Adjust gap */
    padding: 1rem; /* Adjust padding */
  }
  
  .project {
      height: 150px; /* Adjust height */
      padding: 0.5rem; /* Adjust padding */
  }
  
  .project h2 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Container holding the sine wave and the content text */
  .sine-text-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Sine wave with horizontal looping animation */
  .sine-wave {
    position: absolute;
    height:0%;
    bottom: 0;
    width: 50rem;
    height: 50px;
    fill: none;
    stroke: black;
    stroke-width: 2;
    transition: transform 0.5s ease-in-out;
    animation: moveWave 5s linear infinite;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .project-content {
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    text-align: center;
    width: 100%;
  }
  
  /* Hover Effects */
  .project:hover h2 {
    opacity: 0;
  }
  
  .project:hover .sine-text-container {
    transform: translateY(-90%);  /* Move the sine wave and content up */
  }
  
  .project:hover .project-content {
    transform: translateY(80%);  /* Move the sine wave and content up */
  }

  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    padding-bottom: 5rem;
  }

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  section {
    height: 100vh; /* Make each section take up the full viewport height */
    padding-top: 1rem; /* Adjust this value based on the height of your header */
    box-sizing: border-box; /* Ensure padding is included in the height */
    padding-bottom: 1rem;
}
}


/********** About section **********/

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    width: 100%;
}


.about-content{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;  
  padding: 2rem;
  background-color: white;
  width: 100%;
  align-items: center;
}

.about-content h2 {
  display: flex;  
  justify-content: center;
  padding: 0;
  margin-left: 0;
}
.about h1 {
  display: flex;
  justify-content: center; /* Center horizontally */
  text-align: center; /* Ensures text inside is centered */
  margin-top: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.current-techstack{
  border: solid 1px rgb(0, 0, 0);
  display: inline-block;
  padding: 5px;
  margin:0;
}
.techstack{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 0;
  margin-bottom: 1rem;
}

.techstack-image{
  width: 4rem;
  height: 2.3rem;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border: solid 1px rgb(0, 0, 0);
  padding: 5px;
  padding-bottom: 10px;
}
.techstack-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/********** Contact section **********/
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25rem;
  width: 100%;
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 30%;
}
.contact h1 {
  display: flex;
  justify-content: center; /* Center horizontally */
  text-align: center; /* Ensures text inside is centered */
  margin-top: 2rem;
  font-size: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  width: 100%; /* Make inputs span full width */
  max-width: 100%; /* Prevent excessive stretching */
  padding: 12px; /* Increase padding for better usability */
  font-size: 1rem; /* Make text inside inputs larger */
  margin-bottom: 1rem; /* Add spacing between fields */
  border: 1px solid #ccc; /* Optional: subtle border */
  border-radius: 5px; /* Slight rounding */
}

.contact-form textarea {
  height: 150px; /* Give more space for message input */
  resize: vertical; /* Allow resizing */
}

.contact-form button {
  padding: 12px 24px; /* Make button bigger */
  font-size: 1rem; /* Improve readability */
  cursor: pointer; /* Indicate it's clickable */
  border: solid 1px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.3s;
}

.contact-form button:hover {
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

footer {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 0;
}

.hidden {
  display: none;
}

#resume-viewer {
  position: fixed;
  top: 100px; /* Adjust based on your navbar height */
  left: 0;
  width: 100%;
  height: calc(100vh - 60px); /* Fill the screen except the navbar */
  background: white;
  z-index: 100;
}

/********** Typing Animation **********/
#typing {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink-caret 1s step-end infinite;
  margin: 0;
  margin-left: 7px;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}